title= websiteTitle

meta(
  name="description",
  content=websiteDescription
)

meta(
  name="keywords",
  content=""
)

meta(
  name="author",
  content=theAuthor
)

link(
  rel="canonical",
  href=websiteUrl
)

+seoMetadata("og:locale", "en_US")

+seoMetadata("og:type", "website")

+seoMetadata("og:title", websiteTitle)

+seoMetadata("og:description", websiteDescription)

+seoMetadata("og:url", websiteUrl)

+seoMetadata("og:site_name", websiteTitle)

+seoMetadata("og:image", websiteLogo)

+seoMetadata("og:image:url", websiteLogo)

+seoMetadata("og:image:secure_url", websiteLogo)

+seoMetadata("og:image:type", "")

+seoMetadata("og:image:width", "")

+seoMetadata("og:image:height", "")

+seoMetadata("og:image:alt", websiteTitle + " - logo")

+twitterMetadata("card", "summary_large_image")

+twitterMetadata("url", websiteUrl)

+twitterMetadata("title", websiteTitle)

+twitterMetadata("description", websiteDescription)

+twitterMetadata("site", websiteMention)

+twitterMetadata("creator", creatorMention)

+twitterMetadata("image", websiteLogo)

+twitterMetadata("image:src", websiteLogo)
